<script>
    import {timerSettings} from "../timerSettings";

    export let settings = new timerSettings('00:00:00', '', false);
    export let saveHandler = () => {
    }

    let hours = parseInt(settings.timerValue.substr(0, 2)).toString(),
        minutes = parseInt(settings.timerValue.substr(3, 2)).toString(),
        seconds = parseInt(settings.timerValue.substr(6, 2)).toString();

    const save = () => {
        settings.timerValue = ('0' + hours).slice(-2) + ':' +
            ('0' + minutes).slice(-2) + ':' +
            ('0' + seconds).slice(-2);

        saveHandler()
    }
</script>

<div>
    <table>
        <tr>
            <td>Hours</td>
            <td><input class='timeInput' type='number' bind:value={hours} min=0 max=23></td>
        </tr>
        <tr>
            <td>Minutes</td>
            <td><input class='timeInput' type='number' bind:value={minutes} min=0 max=59></td>
        </tr>
        <tr>
            <td>Seconds</td>
            <td><input class='timeInput' type='number' bind:value={seconds} min=0 max=59></td>
        </tr>
        <tr>
            <td>Title</td>
            <td><input class='titleInput' type='text' bind:value={settings.title}></td>
        </tr>
        <tr>
            <td>Start timer</td>
            <td><input type='checkbox' bind:checked={settings.startOnSave}></td>
        </tr>
    </table>
    <div class='buttonDiv'>
        <button class='button'
                on:click={save}>Save
        </button>
    </div>
</div>

<style>
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        opacity: 1;
    }

    table {
        table-layout: fixed;
        margin-bottom: 10px;
        width: 80%;
    }

    td {
        text-align: left;
        white-space: nowrap;
        width: 50%;
    }

    .timeInput {
        margin-left: 10px;
        width: 40px;
    }

    .titleInput {
        margin-left: 10px;
    }

    .buttonDiv {
        position: center;
    }
</style>
