<script>
    import {onMount} from 'svelte';
    import Settings from "./components/Settings.svelte";
    import {timerSettings} from "./timerSettings";

    const emptyTimerValue = '00:00:00'

    let timerValue = emptyTimerValue,
        errorMessage = '',
        isRunning = false,
        isSettings = false,
        settings = new timerSettings(emptyTimerValue, 'Countdown Timer', true);

    onMount(async () => {
        window.wails.Events.On('timerTick', message => {
            timerValue = message;
        })

        window.wails.Events.On('error', message => {
            setErrorMessage(message);
        })

        window.wails.Events.On('countDown', message => {
            if (message === 'done') {
                isRunning = false;
            }
        })

        window.wails.Events.On('timerStopped', message => {
            if (message === 'timer stopped') {
                isRunning = false;
            }
        })

        isRunning = await window.backend.Timer.IsRunning();

        if (!settingsHaveValue()) {
            await showSettings();
        }
    })

    const setErrorMessage = async (errMessage) => {
        errorMessage = errMessage;
        window.setInterval(() => {
            errorMessage = '';
        }, 4000)
    }

    const startCountdown = async () => {
        try {
            isRunning = true;
            await window.backend.Timer.Start(settings.timerValue);
        } catch (ex) {
            await setErrorMessage(ex);
        }
    }

    const stopCountdown = async () => {
        try {
            isRunning = false;
            await window.backend.Timer.Stop();
        } catch (ex) {
            await setErrorMessage(ex);
        }
    }

    const resumeCountdown = async () => {
        try {
            isRunning = true;
            await window.backend.Timer.Resume();
        } catch (ex) {
            await setErrorMessage(ex);
        }
    }

    const saveSettings = async () => {
        timerValue = settings.timerValue;
        window.backend.Timer.SetTitle(settings.title + ' (' + timerValue + ')');
        isSettings = false;

        if (settings.startOnSave) {
            await startCountdown();
        }
    }

    const showSettings = async () => {
        await stopCountdown();

        window.backend.Timer.SetTitle(settings.title + ' Settings');
        timerValue = settings.timerValue;
        isSettings = true;
    }

    const settingsHaveValue = () => {
        return settings.timerValue !== emptyTimerValue;
    }

    const timerHasValue = () => {
        return timerValue !== emptyTimerValue;
    }
</script>


<main>
    <div class="App">
        {#if isSettings}
            <Settings saveHandler={saveSettings} bind:settings/>
        {:else}
            <div class='errMsg'>
                <span>{errorMessage}</span>
            </div>
            <div class='container'>
                <div class='row'>
                    <div class='col'>
                        <div class='data'>
                            <p>{timerValue}</p>
                        </div>
                    </div>
                </div>
                <div class='row'>
                    <div class='col'>
                        <button disabled='{isRunning || !settingsHaveValue()}'
                                on:click={startCountdown}>Start
                        </button>
                        <button disabled='{!isRunning}'
                                on:click={stopCountdown}>Stop
                        </button>
                        <button disabled='{isRunning || !settingsHaveValue() || !timerHasValue()}'
                                on:click={resumeCountdown}>Resume
                        </button>
                    </div>
                </div>
                <div class='row'>
                    <div class='col'>
                        <button disabled='{isRunning}'
                                on:click={showSettings}>Settings
                        </button>
                    </div>
                </div>
            </div>
        {/if}
    </div>
</main>

<style>
    :global(body) {
        margin: 0;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
        "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        background-color: #282c34;
        color: lightgray;
    }

    :global(button) {
        background-color: lightgray;
        color: black;
        text-align: center;
        width: 75px;
    }

    :global(button:disabled) {
        color: darkgray;
    }

    main {
        height: 240px;
        position: relative;
    }

    .App {
        left: 50%;
        margin: 0;
        position: absolute;
        text-align: center;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .errMsg {
        color: red;
        word-wrap: break-word;
    }

    .row {
        margin-bottom: 10px;
    }

    .data {
        font-family: monospace;
        font-size: 40px;
        text-align: center;
    }
</style>
